# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 The Contributors to Eclipse OpenSOVD (see CONTRIBUTORS)

common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

# Generated Bazel configuration -- keep in sync with .bazelrc if you add one
build --incompatible_enable_cc_toolchain_resolution
build --action_env=CARGO_BAZEL_ISOLATED=1